body {
  margin: 0;
  padding: 65px 0 0;
  font-family: "Times New Roman", Times, serif;

}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-color: gray;
  border-width: 1px;
}

.leaflet-container {
  height: 800px;
  width: 100%;
}

.markerClusterSmall {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.8vw;
  color: #000;
  font-weight: 700;
  font-family: Open Sans;
  text-transform: uppercase;
  background-color: yellow;
}
.markerClusterMedium {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.8vw;
  color: #000;
  font-weight: 700;
  font-family: Open Sans;
  text-transform: uppercase;
  background-color: yellow;
}
.markerClusterLarge {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.8vw;
  color: #000;
  font-weight: 700;
  font-family: Open Sans;
  text-transform: uppercase;
  background-color: yellow;
}
.markerClusterLargeXL {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.8vw;
  color: #000;
  font-weight: 700;
  font-family: Open Sans;
  text-transform: uppercase;
  background-color: yellow;
}
.markerClusterLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  padding: 1rem;
  background-color: #33b5e5;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}

.col-map{
  padding: 0;
  background-color: #33b5e5;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;

}

/*search results div*/
.list-group{
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}

.list-group-summary {
  max-height: 300px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

}

.list-group-results {
  height: 100%;
  margin-bottom: 10px;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;

}

.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }

}


/*// Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) { ... }*/

/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { ... }*/

/*// Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/